<div class="container">
  <nav class="row">
    <div class="nav-wrapper">
      <span class="brand-logo center">{{ config?.title | uppercase }}</span>
    </div>
  </nav>

  <div class="col">
    <button class="btn col s2 offset-s10 ml-5">Dodaj zadanie</button>
    <button class="btn col s2 offset-s10 ml-5">Zakończ</button>
  </div>

  <div class="row">
    <input
      class="col s8"
      type="text"
      placeholder="Dodaj zadanie i datę wykonania"
    />
    <input class="col s2 disabled" type="date" />
    <button class="btn-floating">+</button>
  </div>

  <ul class="collection">
    <li *ngFor="let item of tasks | orderBy:'deadline'" class="collection-item row">
      <span class="col s10">
        [{{ item.deadline | date: 'yyyy-MM-dd EEEEEE':'':'pl' }}] - {{ item.name }}</span
      >
      <div class="col s2 right-align">
        <button class="btn-floating btn-small red">
          <i class="material-icons">remove</i>
        </button>
        <button class="btn-floating btn-small green ml-5">
          <i class="material-icons">check</i>
        </button>
      </div>
    </li>
  </ul>

  <h1>Dzisiaj brak zadań :-)</h1>

  <button class="btn red">{{ cleanLabel }}</button>


  <footer class="page-footer mt-5">
    <div class="footer-copyright">
      <div class="container">
        {{ config?.date | date: 'yyyy-MM-dd EEEE':'':'' | lowercase }}
        {{ config?.footer }}
      </div>
    </div>
  </footer>
  <br>

  <div>
    tasks:
    <br />
    {{ tasks | json }}
  </div>
  <p>{{'reverse' | reverse}} </p>
</div>
